<!-- <p [style]="isCorrect ? 'font-size: 2rem' : 'font-size: 8rem'">Testing</p> -->

<!-- <p [style.font-size]="isCorrect ? '2rem' : '8rem'">Testing</p> -->

<!-- <p [style.font-size.rem]="isCorrect ? '2' : '8'">Testing</p> -->

<!-- <p [style]="styles">Testing</p> -->

<!-- <p [class]="isCorrect ? 'big-font-size' : 'small-font-size'">Testing</p> -->

<!-- <p [class]="classes">Testing</p> -->

<!-- <P [ngStyle]="{'font-size': '4rem', 'color': 'green'}">Testing</P> -->

<!-- <P [ngStyle]="styles">Testing</P> -->

<!-- <P [ngClass]="classes">Testing</P>-->

<!-- <p *ngIf="isCorrect; else elsecond ">ngIf true</p>
<ng-template #elsecond>Else condition</ng-template> -->

<!-- <br><br> -->
<!-- <p *ngFor="let user of users; let i=index">{{i +": "+ user }}</p> -->

<!-- <button (click)="addNewUser()">Add New User</button> 
<p *ngFor="let user of userObj; trackBy: trackByFundc">{{user.id +": "+ user.name }}</p> -->

<div [ngSwitch]="switchProperty">
  <app-switchcase1 *ngSwitchCase="'a'"></app-switchcase1>
  <app-switchcase2 *ngSwitchCase="'b'"></app-switchcase2>
  <app-switchcase3 *ngSwitchCase="'c'"></app-switchcase3>
  <app-switchcase4 *ngSwitchCase="'d'"></app-switchcase4>
</div> 
